# fly.toml app configuration file generated for serenity-autumn-river-3479 on 2025-12-04T16:29:26Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'serenity-autumn-river-3479'
primary_region = 'lhr'

[build]

[env]
LOG_LEVEL = "INFO"

[mounts]
source = "serenity_data"
destination = "/data"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "off"
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
memory = 256
cpu_kind = 'shared'
cpus = 1
